<html>
    <head>
        <title>Compass voice recording</title>
        <meta charset="utf-8">
        
        {{!-- Add script --}}
        <script src="js/bootstrap.js"></script>
        <script src="js/jquery-1.11.0.js"></script>
        <script src="js/eventHandler.js"></script>

        {{!-- Add link --}}
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap-theme.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div style="text-align: center">
            
            <p> Account page</p>

        </div>
    </body>
</html>