<html>
    <head>
        <title>Contact</title>
        <meta charset="utf-8">
        
        {{!-- Add script --}}
        <script src="js/bootstrap.js"></script>
        <script src="js/jquery-1.11.0.js"></script>
        <script src="js/eventHandler.js"></script>

        {{!-- Add link --}}
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap-theme.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">
        <link href="css/login.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
    
            
        {{!-- menu icon --}}
		<div class="block" id="menu-icon">
			<a href="/index"><i class="fa fa-chevron-left" style="font-size: 20px; color: #995762; text-align:left"></i></a>
		</div>

        {{!-- profile info --}}

        <div class="imgcontainer">
            <img src="/images/LOGO_login.png" style="width:130; height:auto" alt="profile-pic">
        </div>

        <div class="about-info"> 
            <h3 style="text-align: center;"> 
                Please contact us: 
            </h3>
            <h3 style="text-align: center;">
                Phone 111-222-3334 
                
            </h3>
            <h3 style="text-align: center;">
                
                Email compass@WeAreTheBest.com
            </h3>

            
        

        </div>
    </body>
</html>