<html>
<head>
	<title>Filter</title>
	<meta charset="utf-8">
	
	{{!-- Add script --}}
	<script src="js/bootstrap.js"></script>
	<script src="js/jquery-1.11.0.js"></script>
	{{!-- <script src="js/hci-friends.js"></script> --}}

	{{!-- Add link --}}
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	{{!-- put icons in a row --}}
	<div class="top-menu">
		<div id="rectangle"></div>

		
		
		{{!-- filter icon --}}
		<div class="block", id="filter-icon">
			<a href="#"><i class="fa fa-sliders" aria-hidden="true" style="font-size: 20px; color: black;"></i></a>

            <a href="/"><p> return to home<p></a>
		</div>
		
	</div>
	
	{{!-- diary --}}
	<div class="container">
		<div class="diary-page">
			{{#each diaries}}
				<button class="diary">
					<div id="date">
						<h4 style="text-shadow: 4px 4px 5px #797979;">{{date}}</h4>
					</div>
					<img src="{{imageURL}}" alt="Lorem Pixel image" class="img-responsive">
					{{!-- <p>{{description}}</p> --}}
				</button>
				<hr>
			{{/each}}
		</div>
		
	</div>

	



</body>
</html>
