<html>
<head>
	<title>Compass</title>
	<meta charset="utf-8">
	
	{{!-- Add script --}}
	<script src="js/bootstrap.js"></script>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/eventHandler.js"></script>

	{{!-- Add link --}}
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/menu.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	{{!-- <div id="mynav" class="overlay">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<div class="overlay-content">
			<a href="#">About</a>
			<a href="#">Services</a>
			<a href="#">Clients</a>
			<a href="#">Contact</a>
		</div>
	</div> --}}

	{{!-- put icons in a row --}}
	<div class="top-menu">
		<div id="rectangle"></div>

		{{!-- menu icon --}}
		<div class="block" id="menu-icon">
			<a href="#"><i class="fa fa-bars" style="font-size: 20px; color: black;"></i></a> 
		</div>

		{{!-- search bar --}}
		<div class="block" id="search-bar">
			<input type="text" placeholder="Search...">
			<a href="#"><i class="fa fa-fw fa-search" style="font-size: 20px; color: black;"></i></a> 
		</div>
		
		{{!-- filter icon --}}
		<div class="block", id="filter-icon">
			<a href="filter"><i class="fa fa-sliders" aria-hidden="true" style="font-size: 20px; color: black;"></i></a>
		</div>
		
		{{!-- manage icon --}}
		<div class="block" id="manage-icon">
			<a href="manage"><i class="fa fa-edit" style="font-size: 20px; color: black;"></i></a> 
		</div>
		
	</div>
	
	{{!-- diary --}}
	<div class="container">
		<div class="diary-page">
			{{#each diaries}}
				<a href="/content/{{id}}">
					<button class="diary">
						<div id="date">
							<h4 style="text-shadow: 4px 4px 5px #797979;">{{date}}</h4>
						</div>
						<img src="{{imageURL}}" alt="Lorem Pixel image" class="img-responsive">
					</button>
				</a>
				<hr>
			{{/each}}
		</div>
		
	</div>

	{{!-- lower menu --}}
	<div id="rectangle" style="bottom: 0; height: 100px; opacity: 0.6"></div>
	<div class="lower-menu">
		<a href="world"><i id="world" class="fa fa-globe block" aria-hidden="true" style="font-size: 60px; color: black;"></i></a>
		<a href="create"><i id="add" class="fa fa-plus-circle block" aria-hidden="true" style="font-size: 61.2px; color: black;"></i></a>
		<a href="account"><i id="account" class="fa fa-user-circle block" aria-hidden="true" style="font-size: 51.6px; color: black;"></i></a>
	</div>


</body>
</html>
