<html>
<head>
	<title>Manage</title>
	<meta charset="utf-8">
	
	{{!-- Add script --}}
	<script src="js/bootstrap.js"></script>
	<script src="js/jquery-1.11.0.js"></script>
	{{!-- <script src="js/hci-friends.js"></script> --}}

	{{!-- Add link --}}
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/manage.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
		{{!-- menu icon --}}
			<div class="block" id="menu-icon">
				<a href="/index"><i class="fa fa-chevron-left" style="font-size: 20px; color: #995762; text-align:left"></i></a>
			</div>

		{{!-- title --}}
			<div>
				<h3>Manage</h3>
			</div>

		{{!-- diary --}}
		<div class="container">
			<div class="ma-diary-page">
				{{#each diaries}}
					<button class="ma-diary">
						<div id="date">
							<h4 style="#797979;">{{date}}</h4>
						</div>
						<div id="location">
							<h4 style="#797979;">{{location}}</h4>
						</div>
						<img src="{{imageURL}}" alt="Lorem Pixel image" class="img-responsive">
					</button>
					<div id="ma-icons" style="display:inline-block; margin-right:0%">
					<img id="edit-icon" src="/images/edit.png">
					<img id="download-icon" src="/images/download.png">
					<img id="delete-icon" src="/images/delete.png">
					</div>
				<hr>
				{{/each}}
			</div>

		</div>

	



</body>
</html>
