<html>

<head>
    <title>Compass Sign Up</title>
    <meta charset="utf-8">

    {{!-- Add script --}}
    <script src="js/bootstrap.js"></script>
    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/eventHandler.js"></script>

    {{!-- Add link --}}
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/signup.css" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <form action="/" method="get" id="ajaxForm"> 

        {{!-- logo --}}
        <div class="imgcontainer">
            <img src="/images/LOGO_signup.png" style="margin-top:8%; width:150; height:23;" alt="logo">
        </div>

        <div style="text-align:center"><h3>WELCOME!</h3></div>

        <div class="container">
            {{!-- Username --}}
            {{!-- <label for="uname"><b>Username</b></label> --}}
            <input type="text" placeholder="Username" name="uname" required>

            {{!-- Email --}}
            {{!-- <label for="psw"><b>Email</b></label> --}}
            <input type="password" placeholder="Email" name="psw" required>

            {{!-- Password --}}
            {{!-- <label for="psw"><b>Password</b></label> --}}
            <input type="password" placeholder="Password" name="psw" required>

            {{!-- Password Comfirm --}}
            {{!-- <label for="psw"><b>Password Confirmation</b></label> --}}
            <input type="password" placeholder="Password Confirmation" name="psw" required>
            <div><br></div>

            {{!-- Login --}}
            <button type="submit"><h2 style="font-size: 20px; color: white; line-height: 0; margin-bottom: 16px;">SIGNUP</h2></button>
        </div>

        <div><br></div>

        <div class="container" style="background-color:#f1f1f1">
            <p class="signup" style="margin-left:15%;">Already have an account? <a href='/'> Login here</a></p>
        </div>
        
    </form>


    </body>
</html>
