profile-card {
    margin: 0 auto;
    text-align: center;
   
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }

  button {
    background-color: lightgray;
    color: white;
    padding: 5px 10px;
    margin-left: 25%;
    margin-top: 50%;
    border: none;
    cursor: pointer;
    width: 45%;
    border-radius: 45px;
  }