.video img {
	object-fit: cover;
	position: relative;
	width: 288px;
    height: 206px;
}

.top-bar {
	display: flex;
	/* position: fixed; */
	position: sticky;
	top: 0;
	margin-top: 10px;
	/* top: 10px; */
	z-index: 2;
}

h2 {
    font-weight: 300;
}