/* Bordered form */
form {
    border: 3px solid #f1f1f1;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #8E7B4B;
    box-sizing: border-box;
    border-radius: 20px; 
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #DEB5C8;
    color: white;
    padding: 5px 14px;
    margin: 0px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 45px;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    /* padding-top: 20px; */
  }

  /* p.signup {
    text-align: center;
  
  } */
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      /* display: block; */
      float: right;
    }
  }