/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

h1, h2, h3, h5 {
	color: #8382BF;
}

.diary-page {
	margin-top: 70px;
}

.diary {
	background-color: Transparent;
	border: none;
	color: white;
	/* padding: 16px 32px; */
	text-align: center;
	font-size: 16px;
	margin: 4px 2px;
	opacity: 1;
	transition: 0.5s;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	z-index:0;
}

.diary:active {
	opacity: 0.6;
}

.diary img {
	object-fit: cover;
	position: relative;
	width: 288px;
	height: 80px;
}

.diary h4 {
	/* H4 */
	position: absolute; /* Sit on top of the page content */
	z-index: 1;
	font: bold 24px/45px Helvetica, Sans-Serif; 
	letter-spacing: -1px;  
	padding: 10px; 
	font-family: 'BlinkMacSystemFont';
	font-style: normal;
	font-weight: 200;
	font-size: 24px;
	line-height: 30px;
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
	/* or 125% */
	text-transform: uppercase;
	color: #FFFFFF;
	text-shadow: 0px 4px 4px rgba(121, 121, 121, 0.25);
}

/* .lower-menu .button {
	background-color: rgb(0, 0, 0);
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 50%;
}
*/

.lower-menu {
	position: fixed;
	/* text-align: center; */
	left: 18%;
	bottom: 20;
	z-index: 2;
} 


/* @media screen and (max-width: 450px) { */
/* #search-bar {
	display: flex;
	justify-content: center;
	text-align: center
} */
/* } */

.center {
	display: flex;
    align-items: center;
    justify-content: center;
	position: fixed;
	top: 10px;
	z-index: 2;
}

.block {
    margin: 0 15px; 
	z-index: 2;
}

#rectangle{
    width: 500px;
    height: 50px;
    background:black;
	position: fixed;
	z-index: 1;
}