body{
    background-color: black;
}

#videoElement {
	max-width: 352px;
	height: 519px;
	object-fit: cover;
	background-image: url('../images/camera-bg.jpg');
	position: absolute;
	/* margin: auto; */
	/* text-align: center; */
	margin-left: 3.2%;
	margin-right: 3.2%;
	margin-top: 5.7%;
	margin-bottom: 16.49%;
}

.round-button {
	width: 60px;
	height: 60px;
	font-size: 24px;
	/* cursor: pointer; */
	/* color: #fff; */
	background-color: red;
	border: 2px solid white;
	border-radius:50%;
	bottom: 20px;
	margin-top:156%;
	/* stroke:#fff;
	stroke-width:30; */
}