body{
    background-color: black;
}

#videoElement {
	max-width: 352px;
	height: 519px;
	object-fit: cover;
	background-image: url('../images/camera-bg.jpg');
	position: absolute;
	/* margin: auto; */
	/* text-align: center; */
	margin-left: 3.2%;
	margin-right: 3.2%;
	margin-top: 5.7%;
	margin-bottom: 16.49%;
}

.round-button {
	width: 60px;
	height: 60px;
	font-size: 24px;
	/* cursor: pointer; */
	/* color: #fff; */
	background-color: red;
	border: 2px solid white;
	border-radius: 50%;
	bottom: 20px;
	margin-top:156%;
	/* stroke:#fff;
	stroke-width:30; */
}

.record-img {
	bottom: 20px;
	margin-top:156%;
}

button {
	background-color:black;
	border: none;
}



#overlay {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 160%; /* Location of the box */
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


#content{
	background-color: #fefefe;
	margin: auto;
	padding: 8px;
	width: 93%;
	position: absolute;
	top: 72%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}

.box {
	width: 96px;
	height: 96px;
	background: black;
	text-align: center;
    display: inline-block;
  }
  
  
 .wrapper {
  overflow: hidden;
  /*make sure the wrapper has no dimension*/
  text-align: center;
}

